# ORIGINAL FILE: https://github.com/mtransitapps/commons/tree/master/shared-overwrite
language: android
jdk: oraclejdk8

sudo: false
install: true

before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/

cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
    - $HOME/.android/build-cache

env:
  global:
    - ANDROID_API_LEVEL=29
    - ANDROID_BUILD_TOOLS_VERSION=29.0.2

android:
  components:
    - tools # to get the new `repository-11.xml`
    - platform-tools
    - tools # to install Android SDK tools

branches:
  only:
    - master
    - mmathieum

git:
  submodules: false

before_install:
  - chmod +x checkout_submodules.sh
  - ./checkout_submodules.sh
  - chmod +x commons/sync.sh
  - ./commons/sync.sh
  - chmod +x gradlew
  - chmod +x build.sh
  - mkdir "$ANDROID_HOME/licenses" || true
  - echo "d56f5187479451eabf01fb78af6dfcb131a6481e" > "$ANDROID_HOME/licenses/android-sdk-license"
  - echo "24333f8a63b6825ea9c5514f83c2829b004d1fee" >> "$ANDROID_HOME/licenses/android-sdk-license"
  - touch ~/.android/repositories.cfg
  - sdkmanager tools

script:
  - ./build.sh
