version: 2
jobs:
  build:
    working_directory: ~/mtransit
    docker:
      - image: circleci/android:api-29
    environment:
      JVM_OPTS: -Xmx3200m
      TERM: xterm-256color
    steps:
      - run:
          name: Update SDK
          command: echo y | $ANDROID_HOME/tools/bin/sdkmanager "build-tools;29.0.2" "platform-tools" "platforms;android-29"
      - checkout
      - run:
          name: checkout_submodules.sh permissions
          command: sudo chmod +x checkout_submodules.sh
      - run:
          name: Checkout submodules
          command: ./checkout_submodules.sh
      - restore_cache:
          key: gradle-wrapper-{{ checksum "gradle/wrapper/gradle-wrapper.properties" }}
      - run:
          name: init_cache_key.sh permissions
          command: sudo chmod +x init_cache_key.sh
      - run:
          name: Generate gradle cache key
          command: ./init_cache_key.sh
      - restore_cache:
          keys:
            - gradle-cache-{{ checksum "gradle_cache_key_checksum.txt" }}
            - gradle-cache- # fallback to using the latest cache if no exact match is found
      - run:
          name: gradlew permissions
          command: sudo chmod +x ./gradlew
      - run:
          name: Download Dependencies
          command: ./gradlew androidDependencies --console=plain
      - run:
          name: build.sh permissions
          command: sudo chmod +x build.sh
      - run:
          name: Build
          command: ./build.sh
      - save_cache:
          paths:
            - ~/.gradle/caches/
          key: gradle-cache-{{ checksum "gradle_cache_key_checksum.txt" }}
      - save_cache:
          paths:
            - ~/.gradle/wrapper/
          key: gradle-wrapper-{{ checksum "gradle/wrapper/gradle-wrapper.properties" }}
      - store_artifacts:
          path: app-android/build/reports
          destination: reports
      - store_artifacts:
          path: app-android/build/outputs/apk
          destination: apks
      - store_artifacts:
          path: app-android/build/outputs/bundle
          destination: bundles
      - store_artifacts:
          path: commons-android/build/reports
          destination: commons-android-reports
      - store_test_results:
          path: app-android/build/test-results
      - store_test_results:
          path: commons-android/build/test-results
